[Unit]
Description=The Kubycat Service ($VERSION)
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=on-success
RestartSec=1
ExecStart=/bin/bash $INSTALL_PATH/kubycat watch --config $CONFIG_FILE

[Install]
RequiredBy=default.target
